<!-- <html>
<head>
<title>
    <%=title %>
</title>
</head>

<body>
    <!-- partial implementation by exporting header and footer -->
    <!-- <%- include('_header'); %>  -->
    <h1>
        Codeial / <%=title %>
    </h1>
    <!-- <%- include('_footer'); %>
</body>

</html> -->